# vps-hardening-toolkit config example
# Copy to /etc/vps-hardening/vps-hardening.env

VPSH_IGNORE_IPS="127.0.0.1/8 ::1"
VPSH_BLOCKTYPE="deny"
VPSH_USEDNS="warn"

VPSH_DEFAULT_BANTIME="1h"
VPSH_DEFAULT_FINDTIME="10m"
VPSH_DEFAULT_MAXRETRY="5"
VPSH_BANTIME_INCREMENT="true"
VPSH_BANTIME_FACTOR="2"
VPSH_BANTIME_MAXTIME="7d"

VPSH_SSH_PORT="auto"
VPSH_SSH_MODE="aggressive"
VPSH_SSH_MAXRETRY="3"
VPSH_SSH_FINDTIME="10m"
VPSH_SSH_BANTIME="6h"

VPSH_ENABLE_NGINX_JAILS="true"
VPSH_NGINX_ACCESS_LOGS="/var/log/nginx/access.log /var/log/nginx/*access.log"
VPSH_NGINX_ERROR_LOGS="/var/log/nginx/error.log /var/log/nginx/*error.log"

VPSH_ENABLE_RECIDIVE="true"
VPSH_LOGROTATE_ROTATE="14"
